body {
    /* max-height: 70vh; */
    background: #2e353d;
    display: flex;
    flex-direction: column;
}
/* название игры + сообщения*/
h1 {
    text-align: center;
    color: cornsilk;
}
/* #header {
    position: fixed;
    flex: 1 1 auto;
    height: 5%;
} */

.main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}

.footer {
    position: fixed;
    margin-top: 75vh;
    /* flex: 1 1 auto; */
    height: 30vh;
}

button {
    width: 30vw;
    height: 5vh;
    padding: 1px;
    margin: 1px;
    color: white;
    background: #007b32;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #009641;
}

button:active {
    background: #9cfb02;
    color: black;
}

#game {
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
}

.food {
    background: #00d021;
}

.snakeBody {
    background: #e5e5e5;
}

#message {
    position: absolute;
    top:10%;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    z-index:998;
    background-color: Black;
    color: orange;
    font-size: 24px;
}

.visibility{
    visibility: hidden;
}

#videoPlayer {
    position: fixed;
    max-height: 70vh;
    top: 20vh;
    left: 10vw;
    width:80vw;
    z-index: 999;
}